@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Over all styles */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: white;
  
}

/* Home Styles */

.myName {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

.myTitle {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

.containerHome{
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
}

.imgBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grouping {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.imgTitle {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

/* About Styles */

.aboutBody {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.aboutTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}

.aboutMe{
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

.aboutInfoBox {
  background: #00B2AE;
  border: 9px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  
}

.myFace {
  width: 15rem;
  height: 15rem;
  border: 9px solid black;
  border-radius: 50%;
  margin: 2rem;
}

.aboutInfo {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 53px;
  color: #000000;
  margin: 1rem;
  text-align: center;
}

/* Education Styles */

.eduBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eduTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  align-self: flex-start;
}

.education {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

.eduInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.eduBox {
  background: #FAC546;
  border: 9px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.schoolName {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.timePlace {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.eduInfo {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: .5rem;
}

.schoolLink {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/* Portfolio Styles */

.portBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  align-self: flex-start;
}

.portfolio {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

.portInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.portBox {
  background: #C89005;
  border: 9px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.webEx {
  width: 335px;
  height: 205px;
  margin: .5rem;
  border: 2px solid black;
}

.webEx:hover {
  border: 3px solid black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portjectName {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.portInfo {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: .5rem;
}

/* Contact Styles */

.contactBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}

.contact {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

/* Form Styles */

.formPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  background: #6FB0BE;
  border: 9px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 90vh;
  width: 40vw;
}

label {
  color: black;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  margin: 1rem;
  margin-left: 5rem;
}

input {
  background-color: #F2E5CA;
  border: 9px solid #000000;
  margin: 1rem;
  color: black;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  align-self: center;
  margin-left: 5rem;
  height: 7vh;
  width: 27vw;
}

textarea {
  background-color: #F2E5CA;
  border: 9px solid #000000;
  margin: 2rem;
  height: 20vh;
  width: 27vw;
  color: black;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
}

.formBtn {
  background-color: #F2E5CA;
  border: 9px solid #000000;
  width: 150px;
  height: 75px;
  font-family: 'Roboto Mono';
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: black;
  align-self: center;
  margin: 1rem;
  border-radius: 20px;
}

.formBtn:hover {
  background-color:#6FB0BE;
  color:  black;
  border: 9px solid black;
}

.socialGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  color: #000000;
  margin: 1rem;
}

/* Button Styles */

.reuseBtn {
  border: none;
  background-color: white;
  margin: 1rem;
  transition-duration: 1s;
}

.reuseBtn:hover {
  background-color: rgb(219, 215, 215);
  border-radius: 50px;
}

/* Media Quieries */

@media screen and (max-width: 1200px) {

  .portBody {
    flex-direction: column;
   }

  .portTitleBox {
    align-self: center;
  }

}

@media screen and (max-width: 1000px)  {

  .contactBody {
    flex-direction: column;
  }

  .myForm {
    height: 60vh;
    width: 70vw;
  }

  textarea {
    height: 20vh;
    width: 40vw;
  }

  input {
    height: 7vh;
    width: 40vw;
  }

}

@media screen and (max-width: 992px) {
 .aboutBody {
  flex-direction: column;
 }

 .eduBody {
  flex-direction: column;
 }

 .eduTitleBox {
  justify-content: center;
  align-self: center;
 }

 .webEx {
  width: 235px;
  height: 150px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  }

}

@media screen and (max-width: 900px) {

  .myForm {
    height: 70vh;
    width: 70vw;
  }

  textarea {
    height: 20vh;
    width: 40vw;
  }

  input {
    height: 7vh;
    width: 40vw;
  }
  
}


@media screen and (max-width: 768px) {

  .portBox {
    flex-direction: column;
  }

  .portInfo {
    margin: 1rem;
  }

}

@media screen and (max-width: 600px) {

  .eduInfo {
    font-size: 16px;
    line-height: 22px;
  }

  .portInfo {
    font-size: 15px;
    line-height: 19px;
  }

  .portBox {
    margin: .5rem;
  }

  label {
    margin-left: 3rem;
  }

  textarea {
    height: 30vh;
    width: 50vw;
  }

  input {
    height: 9vh;
    width: 50vw;
  }

}

@media screen and (max-width: 500px) {

  .myName {
    font-size: 50px;
    line-height: 60px;
  }

  .myTitle {
    font-size: 30px;
    line-height: 40px;
  }
  
  .aboutMe {
    font-size: 3rem;
    line-height: 60px;
  }
  
  .aboutInfo{
    font-size: 1rem;
    line-height: 30px;
  }

  .portfolio {
    font-size: 2.5rem;
    line-height: 92px;
  }

  label {
    margin-left: 2rem;
  }

 }

 @media screen and (max-width: 400px) {

  .myFace {
    height: 10rem;
    width: 10rem;
  }

  .schoolName {
    font-size: 25px;
    line-height: 30px;
  }

  .timePlace {
    font-size: 15px;
    line-height: 20px;
  }

  .eduInfo {
    font-size: 14px;
    line-height: 19px;
  }

  .schoolLink {
    font-size: 13px;
    line-height: 19px;
  }

  .webEx {
    width: 200px;
    height: 100px;
  }
  
  .contact {
    font-size: 4rem;
    line-height: 92px;
  }

 }