@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Over all styles */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  height: 100%;
  background-image: url(./images/forest.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 1rem;
}

.links:hover {
  color: #2e3532;
}

p {
  margin: 1rem;
  color: #2e3532;
}

/* App Styles */

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e3532;
}

/* Home Styles */

.containerHome {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* About Styles */

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pOne {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
}

.pTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#525E58;
  background: rgb(82,94,88, 0.5);
 
}

img {
  max-height: 600px;
  max-width: 400px;
  margin: 2rem;
}

@media screen and (max-width: 1000px){

  img {
    max-width: 300px;
    max-height: 500px;
  }  
}

@media screen and (max-width: 863px){

  img {
    max-width: 200px;
    max-height: 400px;
  }  

  .pOne {
    width: 300px;
  }

  .pTwo {
    width: 300px;
  }
}

/* Contact Styles */

.contactLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerContact {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Form Styles */

.myForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  background-color:#525E58;
  background: rgb(82,94,88, 0.5);
  height: 600px;
  width: 500px;
  border-radius: 20px;
}

label {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

/* Modal Styles */

.overlay {
  background-color:#525E58;
  background: rgb(82,94,88, 0.7);
  border-radius: 20px;
  width: 20vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.content {
  color: white;
}

.ringMe {
  color: white;
}

/* Header Styles */

.header {
  width: 100%;
  height: 90px;
  margin: 0;
  background-color:#525E58;
  background: rgb(82,94,88, 0.7);
  display: flex;
}

.headerList {
  font-size: 20px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* Footer Styles */

.footer {
  width: 100%;
  height: 100%;
  max-height: 100px;
  background-color:#525E58;
  background: rgb(82,94,88, 0.7);
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  margin-bottom: 0;
}

.footerList {
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footerContact {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

/* Button Styles */

button {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #525E58;
  color: white;
  outline: none;
  border-radius: 20px;
  border-color: white;
  margin: 1rem;
}

button:hover {
  background-color: white;
  color: #525E58;
}





