@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

/* Over all styles */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: rgb(23,23,60);
  background: linear-gradient(90deg, rgba(23,23,60,1) 33%, rgba(23,23,60,1) 51%, rgba(23,23,60,1) 80%);
}


.myTitle {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color:#602BA8;
  margin-left: -60px;
  
}

.myName {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  color:#2ACFAB;
  margin-left: -60px;
  margin-top: 2rem;
}

.containerHome{
  background-image: url(../src/images/super.svg);
 background-size: cover ;
 background-repeat: no-repeat;
 height: 50rem;
 width: 100%;
}

.imgBox {
  /*display: flex;
  flex-wrap: wrap;
  height: 790px;
  width: 1500px;
  margin-left: -80px;*/
  display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
}

.About { 
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
  /*width: 400px;
  height: 377px;*/
}

.Portfolio {
  grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 6;


  /*width: 900px;
  height: 428px;*/
}

.Contact { 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 4;
 
  /*width: 450px;
  height: 785px; */
}

.Education { 
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
  
 /* width: 500px;
  height: 400px;*/
}

/* About Styles */


/* Contact Styles */



/* Form Styles */

/*.myForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  background-color:#525E58;
  background: rgb(82,94,88, 0.5);
  height: 600px;
  width: 500px;
  border-radius: 20px;
}

label {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

/* Modal Styles 

.overlay {
  background-color:#525E58;
  background: rgb(82,94,88, 0.7);
  border-radius: 20px;
  width: 20vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.content {
  color: white;
}

.ringMe {
  color: white;
}*/

/* Button Styles 

button {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #525E58;
  color: white;
  outline: none;
  border-radius: 20px;
  border-color: white;
  margin: 1rem;
}

button:hover {
  background-color: white;
  color: #525E58;
}*/





